extends layout

block content

    #loader.spinner
      .double-bounce1
      .double-bounce2
    #myDiv.animate-bottom(style='display:none;')
      header
        nav.navigation
          #logo
            //-a.ciis-logo-link(href='/')            
            //- img.nav-logo(src='img/logo.png', alt='')
            img.nav-logo(src='img/logoo.png', alt='')
            p.items.header-subtitle.nav-items CONGRESO INTERNACIONAL                            
            p.items.header-subtitle2.nav-items DE INFORMÁTICA Y SISTEMAS
          // <div id="logo">Your Logo here</div>
          label.toggle(for='drop') Menú
          input#drop(type='checkbox')
          ul#menu.menu
            li
              a(data-scroll='', href='#index') Inicio
            li
              a(data-scroll='', href='#linea-investigacion') Ejes temáticos
            li
              a(data-scroll='', href='#inversion') Inversión
            li
              a(data-scroll='', href='#team') Cursos
            li
              a(data-scroll='', href='#talleres') Talleres              
            li
              a(data-scroll='', href='#cronograma') Cronograma
            li
              a#contactBtn(href='#animatedModal') Contacto
            //-li
              a(data-scroll='', href='/postmaster') Postmaster
            li.hidden-sm.hidden-md.hidden-xs
              span.separator2
            li.hidden-sm.hidden-md.hidden-xs
              a.icon-facebook-with-circle(href='https://www.facebook.com/ciistacna/?fref=ts', target='_blank')
            li.hidden-sm.hidden-md.hidden-xs
              a.icon-twitter-with-circle(href='https://twitter.com/ciistacna', target='_blank')
      .slider-wrapper.theme-mi-slider
        #slider.nivoSlider
          img(src='/img/fondo_index.png' style="width:100%; height:100%" bgproperties="fixed", alt='', title='#htmlcaption1')
          img(src='/img/33.png' style="width:100%; height:100%" bgproperties="fixed", alt='', title='#htmlcaption1')
          img(src='/img/qwerty.png' style="width:100%; height:100%" bgproperties="fixed", alt='', title='#htmlcaption1')

        #htmlcaption1.nivo-html-caption
          section#index.section.section-page
            //- article#countdown
            //-   .container_countdown_unit
            //-     span#days.countdown_unit
            //-     span.countdown_unit_label  Días
            //-   span.separator
            //-   .container_countdown_unit
            //-     span#hours.countdown_unit
            //-     span.countdown_unit_label  Horas
            //-   span.separator
            //-   .container_countdown_unit
            //-     span#minutes.countdown_unit
            //-     span.countdown_unit_label  Minutos
            //-   span.separator
            //-   .container_countdown_unit
            //-     span#seconds.countdown_unit
            //-     span.countdown_unit_label  Segundos
            h1
              span.highlighted
                | CONGRESO
                small.highlighted2  INTERNACIONAL
              span
                | DE
                small.highlighted3  INFORMÁTICA Y SISTEMAS
              span.subtitle Emprendimiento e innovación tecnológica
              //-span.subtitle2 el mejor evento tecnológico del sur del Perú
            .subscription
              //-input#email(type='email', placeholder='Tu email')
              //-button#subscribe.btn-outline.lg(type='button')  Registrate
              button#preRegisterBtn.btn-outline.lg(href='#preRegisterModal')  Preinscríbete
          script(type='text/javascript').
                $('#preRegisterBtn').click(function(){
                          $("#preRegisterBtn").animatedModal({
                            modalTarget:'preRegisterModal',
                            animatedOut:'bounceOutUp',
                            color:'rgba(0,0,0,0.7)'
                          });
                      });
      #animatedModal
        .info-dudas
          .header-dudas
            #closedudas.close-animatedModal
              p X
            .titulo-dudas
              h1 Cuéntanos tus dudas
              p
                | Sientete libre de expresar las dudas que tengas e inmediatamente las resolveremos.
          .body-dudas
            form(action='')
              input#contactEmail(type='text', placeholder='✉ Email', required='')
              input#contactName(type='text', placeholder='👤 Nombre', required='')
              textarea#contactSubject(name='mensaje', placeholder='Escriba su consulta aquí...', required='')
              input#submitContact(type='button', value='Enviar')

      #preRegisterModal
        .info-pre
          .header-pre
            #finpre.close-preRegisterModal
              p X
            .titulo-pre
              h1 Pre - inscripciones
              p
                | Asegura tu lugar en el Congreso Internacional de Informática y Sistemas, inscríbete ya !
          .body-pre
            form#preRegisterForm(method="post",name="preRegisterForm", enctype="multipart/form-data")
              .fila-pre
                .campo-pre
                  p Email
                  input#preRegisterEmail(name='email', type='email', required='')
                .campo-pre
                  p Nombre
                  input#preRegisterFirstName(name='name', type='text', required='')
              .fila-pre
                .campo-pre
                  p Apellido
                  input#preRegisterLastName(name='lastname',type='text', required='')
                .campo-pre
                  p DNI
                  input#preRegisterDNI(name='dni', type='text', required='')
              .fila-pre
                .campo-pre
                  p Tipo de Inscripción
                  select#preRegisterType.form-control(name='type')
                    each type in types
                      option(value=type._id) #{type.name}
                .campo-pre
                  p Ciudad
                  input#preRegisterCity(type='text',name='city', required='')
              .fila-pre
                .campo-pre
                  p Universidad o Institución
                  input#preRegisterInstitution(type='text', name='institution', required='')
                .campo-pre
                  p Celular
                  input#preRegisterCellphone(type='text', name='cellphone', required='')
              .fila-pre
                .campo-pre
                  p Tu foto de Voucher
                  input#preRegisterVoucher(type='file', name='photo',accept='image/*', required='')
              input#submitPreRegister(type='button', value='Enviar')



      //- section.section.tematicos#linea-investigacion2
      //-   ul
      //-     li.scrollflow.-slide-bottom.-opacity
      //-       div
      //-         img(src='img/uno.png', alt='icono de uno')
      //-       h4
      //-         span.tematicos_semititle(style="color:white;font-weight: 900;")
      //-           | Fecha

      //-       span.tematicos_contenido(style="color:white")
      //-         | Del 13 al 17 de Noviembre
      //-     li.scrollflow.-slide-bottom.-opacity
      //-       div
      //-         img(src='img/dos.png', alt='icono de uno')
      //-       h4
      //-         span.tematicos_semititle(style="color:white;font-weight: 900;")
      //-           | Hora de Inicio

      //-       span.tematicos_contenido(style="color:white")
      //-         | 8:30 am

      //-     li.scrollflow.-slide-bottom.-opacity
      //-       div
      //-         img(src='img/tres.png', alt='icono de uno')
      //-       h4
      //-         span.tematicos_semititle(style="color:white;font-weight: 900;")
      //-           | Lugar

      //-       span.tematicos_contenido(style="color:white")
      //-         | Auditorio Central de la UNJBG
      //-         br
      //-         | Auditorio de Contabilidad de la UNJBG

      //-     li.scrollflow.-slide-bottom.-opacity
      //-       div
      //-         img(src='img/cuatro.png', alt='icono de uno')
      //-       h4
      //-         span.tematicos_semititle(style="color:white;font-weight: 900;")
      //-           | 17 Expositores

      //-       span.tematicos_contenido(style="color:white")
      //-         | Expertos

      section.section#videos-presentacion
              .container-videos
                h2.videos-titles.scrollflow.-pop.-opacity
                  span.videos-title1 INVITACIÓN PARA LOS&nbsp
                  span.videos-title2 CURSOS DE VERANO
                section.scrollflow.-slide-bottom.-opacity.lazy.slider(data-sizes='50vw' style="width:83%; margin:auto;")
                  //- button.slick-pre.slick-arrow(aria-label="Previous" type="button" style="display: block;") Previous
                  //  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fciistacna%2Fvideos%2F1828586813900572%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                  div
                    iframe.iframe-videos(src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fciistacna%2Fvideos%2F1828586813900572%2F", frameborder='0', allowfullscreen='')

                  //- div
      section.section.tematicos#linea-investigacion
          h2.scrollflow.-pop.-opacity
            span.tematicos_title_frio EJES&nbsp 
            span.tematicos_title_caliente TEMÁTICOS
          ul
            li.scrollflow.-slide-right.-opacity
              div
                img(src='img/ico-uno.png', alt='icono de uno')
              h4
                span.tematicos_semititle
                  | Analítica de
                  br
                  | datos
                  br
              span.tematicos_contenido
                | Se trabajan con tareas orientadas a la exploración de los datos, con la intención de encontrar patrones o conocimiento útil, que permita optimizar o rentabilizar un proceso de negocio.
            li.scrollflow.-slide-right.-opacity
              div
                img(src='img/ico-dos.png', alt='icono de uno')
              h4
                span.tematicos_semititle
                  | Conectividad
                  br
                  | &nbsp
                  br
              span.tematicos_contenido
                | Hace referencia a los medios, tecnologías y protocolos necesarios para el intercambio de la información en una red de computadoras.

            li.scrollflow.-slide-right.-opacity
              div
                img(src='img/ico-tres.png', alt='icono de uno')
              h4
                span.tematicos_semititle
                  | Ciencia de la
                  br
                  | computación
                  br
              span.tematicos_contenido
                | Abarca el estudio de las bases teóricas de la información y la computación, así como su aplicación en sistemas computacionales.

            li.scrollflow.-slide-right.-opacity
              div
                img(src='img/ico-cuatro.png', alt='icono de uno')
              h4
                span.tematicos_semititle
                  | Ingeniería de
                  br
                  | software
                  br


              span.tematicos_contenido
                | Representa el conjunto de métodos, herramientas y técnicas que se utilizan en el desarrollo del software.



      section.section.actividades
          article.scrollflow.-slide-top.-opacity
            .catividades_titulo
              h2.color--seco Actividades
              h2.color--pry académicas
            .atividades_contenido
              p
                | Contaremos con conferencistas nacionales e internacionales de distinguida calidad y experiencia que disertarán ponencias de alto nivel académico.

            //.a(href='#') Ver mas
          article.scrollflow.-slide-top.-opacity
            .catividades_titulo
              h2.color--seco Concurso
              h2.color--pry de programación
            .atividades_contenido
              p
                | Se desarrollar&aacute;n diversos concursos donde podr&aacute;s competir con diferentes estudiantes de distintas universidades de nuestro pa&iacute;s.
            //.a(href='#') Ver mas
          article.scrollflow.-slide-top.-opacity
            .catividades_titulo
              h2.color--seco Todo
              h2.color--pry sobre Tacna
            .atividades_contenido
              p
                | La "Ciudad Heroica" de Tacna cuenta con distintos atractivos turísticos, un clima agradable, desiertos y valles fértiles que conviven para crear paisajes únicos. Todo esto que hace de nuestra ciudad un destino agradable en el sur de nuestro Perú.
            //.a(href='#') Ver mas



      section.section.inversion.section-page#inversion
        .container
          h2
            span.inversion_title_caliente.scrollflow.-pop.-opacity(style="") INVERSIÓN
          .estu-prof.estudiantes.scrollflow.-slide-bottom.-opacity              
              h3 DEL 06 de noviembre al 13 de noviembre
              div
                h4
                  | ESTUDIANTE                  
                p.precio
                  span.sueldo S/.
                  | 100
                hr
                a#registrate1(href='#preRegisterModal') Preinscríbete

              div
                h4
                  | PROFESIONAL Y PÚBLICO EN GENERAL                  
                p.precio
                  span.sueldo S/.
                  | 140
                hr
                a#registrate3(href='#preRegisterModal') Preinscríbete          

        h3.scrollflow.-pop.-opacity Nro Cta BCP: 540-38259813-0-99 (Yovana Velasquez)
        h4.scrollflow.-pop.-opacity  Los depósitos hechos fuera de Tacna, deben adicionar S/. 7.50 de comisión

      section.section#team.bg-light-gray
        .container
          .row
            .col-lg-12.text-center.scrollflow.-slide-bottom.-opacity
              h2.section-heading CURSOS DE VERANO
              h3.section-subheading.text-muted Conozca un poco más de nuestros cursos de verano
          .row
            section.responsive.slider

              div.col-sm-4
                .team-member
                  .producto.prod-first
                    img(src='img/cursos/android.png')
                    .mask
                      h2 Taller de Android
                      button#modala.infoModal +
              div.col-sm-4
                .team-member
                  .producto.prod-first
                    img(src='img/cursos/arduinodeluxe.jpg')
                    .mask
                      h2 Taller de Arduino Deluxe
                      button#modalaa.infoModal +
              div.col-sm-4
                .team-member
                  .producto.prod-first
                    img(src='img/cursos/autocad.jpg')
                    .mask
                      h2 Autocad 2D-3D, e impresión 3D
                      button#modalaaa.infoModal +
              div.col-sm-4
                .team-member
                  .producto.prod-first
                    img(src='img/cursos/coreldraw.jpg')
                    .mask
                      h2 Diseño gráfico publicitario: Corel Draw - Photoshop
                      button#modalaaaa.infoModal +
              div.col-sm-4
                .team-member
                  .producto.prod-first
                    img(src='img/cursos/drones.jpg')
                    .mask
                      h2 Edición de audio y video y Captura de imágenes aéreas con Drones DJI
                      button#modalaaaaa.infoModal +
              div.col-sm-4
                .team-member
                  .producto.prod-first
                    img(src='img/cursos/legosminds.jpg')
                    .mask
                      h2 Taller de Robótica con Legos Mindstorms NXT 2.0 y EV3
                      button#modalaaaaaa.infoModal +                      
              div.col-sm-4
                .team-member
                  .producto.prod-first
                    img(src='img/cursos/office.png')
                    .mask
                      h2 Manejo de software de oficina (Word, Excel, PowerPoint, Publisher)
                      button#modalaaaaaaa.infoModal +
              div.col-sm-4
                .team-member
                  .producto.prod-first
                    img(src='img/cursos/prezi.png')
                    .mask
                      h2  Producción de recursos multimedia para educación: PREZI y EMAZE
                      button#modalaaaaaaaa.infoModal +
              div.col-sm-4
                .team-member
                  .producto.prod-first
                    img(src='img/cursos/raspberry.jpg')
                    .mask
                      h2 Taller de Raspberry Pi 3
                      button#modalaaaaaaaaa.infoModal +
              div.col-sm-4
                .team-member
                  .producto.prod-first
                    img(src='img/cursos/virtualreality.jpg')
                    .mask
                      h2 Realidad virtual con UNITY utilizando cascos Samsung Gear VR y VR Box
                      button#modalaaaaaaaaaa.infoModal +

      section.section#talleres
        .container-talleres
          h2.talleres-titles.scrollflow.-pop.-opacity
            span.taller-title1 PRECIOS&nbsp
            span.taller-title2 TALLERES            
        .row
          section.responsive.slider

            div#btn-taller
              .container-taller
                .opt-taller
                  h4.taller-title
                      | Complex Networks
                  .transition-taller                    
                    img.imgTaller(src='img/taller/Complex Networks.png')
                    .taller-suscripcion
                      .taller-precio                        
                        strong s/.30.00(Con Inscripción al CIIS)
                        br
                        strong s/.50.00(Sin Inscripción al CIIS)
                        br
                        |                   1 sesión
                        br
                      .taller-suscripcion1
                        button#opentaller1.opentaller(href='#bgtaller') INSCRÍBETE 
            div#btn-taller
              .container-taller
                .opt-taller
                  h4.taller-title
                      | Capture the flag (CTF): técnicas de Ethical hacking en entornos reales
                  .transition-taller                    
                    img.imgTaller(src='img/taller/CTF.png')
                    .taller-suscripcion
                      .taller-precio                        
                        strong s/.20.00(Con Inscripción al CIIS)
                        br
                        strong s/.30.00(Sin Inscripción al CIIS)
                        br
                        |                   1 sesión
                        br
                      .taller-suscripcion1
                        button#opentaller2.opentaller(href='#bgtaller') INSCRÍBETE                        
            div#btn-taller
              .container-taller
                .opt-taller
                  h4.taller-title
                      | Artificial neural networks
                  .transition-taller                    
                    img.imgTaller(src='img/taller/Artificial_networks.png')
                    .taller-suscripcion
                      .taller-precio                        
                        strong s/.30.00(Con Inscripción al CIIS)
                        br
                        strong s/.50.00(Sin Inscripción al CIIS)
                        br
                        |                   1 sesión
                        br
                      .taller-suscripcion1
                        button#opentaller3.opentaller(href='#bgtaller') INSCRÍBETE   
            div#btn-taller
              .container-taller
                .opt-taller
                  h4.taller-title
                      | Taller de desarrollo de videojuego con GameMaker
                  .transition-taller                    
                    img.imgTaller(src='img/taller/juegos.png')
                    .taller-suscripcion
                      .taller-precio                        
                        strong s/.20.00(Con Inscripción al CIIS)
                        br
                        strong s/.30.00(Sin Inscripción al CIIS)
                        br
                        |                   1 sesión
                        br
                      .taller-suscripcion1
                        button#opentaller4.opentaller(href='#bgtaller') INSCRÍBETE                                                                                        
            div#btn-taller
              .container-taller
                .opt-taller
                  h4.taller-title
                      | Taller Introductorio de Raspberry Pi 3B
                  .transition-taller                    
                    img.imgTaller(src='img/taller/raspberry.jpg')
                    .taller-suscripcion
                      .taller-precio                        
                        strong s/.30.00(Con Inscripción al CIIS)
                        br
                        strong s/.40.00(Sin Inscripción al CIIS)
                        br
                        |                   2 sesiones
                        br
                      .taller-suscripcion1
                        button#opentaller5.opentaller(href='#bgtaller') INSCRÍBETE                                             
            div#btn-taller
              .container-taller
                .opt-taller
                  h4.taller-title
                      | Taller avanzado de Raspberry Pi-Ensamblado de Robot Pibot
                  .transition-taller                    
                    img.imgTaller(src='img/taller/rapberry2.jpg')
                    .taller-suscripcion
                      .taller-precio                        
                        strong s/.30.00(Con Inscripción al CIIS)
                        br
                        strong s/.40.00(Sin Inscripción al CIIS)
                        br
                        |                   2 sesiones
                        br
                      .taller-suscripcion1
                        button#opentaller6.opentaller(href='#bgtaller') INSCRÍBETE                         
            div#btn-taller
              .container-taller
                .opt-taller
                  h4.taller-title
                      | Taller de drones
                  .transition-taller                    
                    img.imgTaller(src='img/taller/drones.png')
                    .taller-suscripcion
                      .taller-precio                        
                        strong s/.20.00(Con Inscripción al CIIS)
                        br
                        strong s/.30.00(Sin Inscripción al CIIS)
                        br
                        |                   1 sesión
                        br
                      .taller-suscripcion1
                        button#opentaller7.opentaller(href='#bgtaller') INSCRÍBETE                        
            div#btn-taller
              .container-taller
                .opt-taller
                  h4.taller-title
                      | Realidad virtual
                  .transition-taller                    
                    img.imgTaller(src='img/taller/realidad_virtual.jpg')
                    .taller-suscripcion
                      .taller-precio                        
                        strong s/.20.00(Con Inscripción al CIIS)
                        br
                        strong s/.30.00(Sin Inscripción al CIIS)
                        br
                        |                   1 sesión
                        br
                      .taller-suscripcion1                        
                        button#opentaller8.opentaller(href='#bgtaller') INSCRÍBETE
            div#btn-taller
              .container-taller
                .opt-taller
                  h4.taller-title
                      | SAP FI/CO CONSULTOR
                  .transition-taller                    
                    img.imgTaller(src='img/taller/sap.jpg')
                    .taller-suscripcion
                      .taller-precio                        
                        strong s/.20.00(Con Inscripción al CIIS)
                        br
                        strong s/.30.00(Sin Inscripción al CIIS)
                        br
                        |                   1 sesión
                        br
                      .taller-suscripcion1
                        button#opentaller9.opentaller(href='#bgtaller') INSCRÍBETE         

            div#btn-taller
              .container-taller
                .opt-taller
                  h4.taller-title
                      | Taller Diseño e Impresión en 3D
                  .transition-taller                    
                    img.imgTaller(src='img/taller/impresion_3d.jpg')
                    .taller-suscripcion
                      .taller-precio                        
                        strong s/.20.00(Con Inscripción al CIIS)
                        br
                        strong s/.30.00(Sin Inscripción al CIIS)
                        br
                        |                   1 sesión
                        br
                      .taller-suscripcion1
                        button#opentaller10.opentaller(href='#bgtaller') INSCRÍBETE                                      
                   


      #bgtaller.modal-taller  
        .info-taller
          .header-taller
            #fintaller.close-bgtaller
              p X
            .titulo-taller
              h1 Pre inscripciones a los Talleres del CIIS
              //- p Asegura tu cupo al taller del CIIS, cupos limitados.
          .body-taller
            form(method="post",name="", enctype="multipart/form-data")
              .fila-taller
                .campo-taller
                  p Email
                  input#tallerEmail(name='email',type='text', required='')
                .campo-taller
                  p Nombre
                  input#tallerName(name='name',type='text', required='')
              .fila-taller
                .campo-taller
                  p Apellido
                  input#tallerLastName(name='lastName',type='text', required='')
                .campo-taller
                  p DNI
                  input#tallerDNI(name='dni',type='text', required='')
              .fila-taller
                .campo-taller
                  p Seleccione el Taller
                  select#talleres_cursos.form-control(multiple='multiple')
                    option(value='Complex Networks') Complex Networks
                    option(value='Capture the flag (CTF) técnicas de hacking en entornos reales de producción') Capture the flag (CTF): técnicas de Ethical hacking en entornos reales
                    option(value='Artificial neural networks') Artificial neural networks
                    option(value='Introducción a SAP') SAP FI/CO CONSULTOR
                    option(value='Taller Básico de Raspberry') Taller Introductorio de Raspberry Pi 3B
                    option(value='Taller avanzado de Raspberry') Taller avanzado de Raspberry Pi-Ensamblado de Robot Pibot
                    option(value='Taller de drones') Taller de drones
                    option(value='Virtual Reality: Applications in scientific research and the company') Realidad virtual
                    option(value='Taller de videojuegos') Taller de desarrollo de videojuego con GameMaker                 
                    option(value='impresion_3d') Taller Diseño e Impresión en 3D
                .campo-taller
                  p Tipo de Inscripción
                  select#tallerType.form-control
                    option Estudiante
                    option Profesional y público en general
                .campo-taller
                  p Ciudad
                  input#tallerCity(name='city',type='text', required='')
                .campo-taller
                  p Universidad o Institucion
                  input#tallerInstitution(name='Institution',type='text', required='')              
                .campo-taller
                  p Celular
                  input#tallerCellphone.form-control(name='cellphone',type='text', required='')              
              input#submitPreRegisterTaller(type='button', value='Enviar')  

      section.section#cronograma
                    .container-cronograma
                      h2.cronograma-titles.scrollflow.-pop.-opacity
                        span.videos-title1 CRONOGRAMA&nbsp
                        span.videos-title2 XVIII CIIS 2017
                      .ScrollImg
                        img.Cronograma(src='img/cronograma/Cronograma.png')
                      h4.cronograma-titles.scrollflow.-pop.-opacity
                        span.videos-title1 CRONOGRAMA TALLER
                        span.videos-title2  LABORATORIO 01
                      .ScrollImg
                        img.Cronograma(src='img/cronograma/Laboratorio_A.png')
                      h4.cronograma-titles.scrollflow.-pop.-opacity
                        span.videos-title1 CRONOGRAMA TALLER
                        span.videos-title2  LABORATORIO 02
                      .ScrollImg
                        img.Cronograma(src='img/cronograma/Laboratorio_Ciencias.png')


      section.section.auspicios

        h2
          span.auspicios_title_caliente.scrollflow.-slide-bottom.-opacity AUSPICIADORES
        ul.scrollflow.-pop.-opacity
          li
            img.img-responsive1(src='img/municipalidad_gregorio.png', alt='sponsors')
          li
            img.img-responsive1(src='img/Ayca.png', alt='sponsors')
          //- li
          //-   img.img-responsive1(src='images/Santa_Elena.png', alt='sponsors')
          li
            img.img-responsive1(src='img/mar_adentro.jpg', alt='sponsors')
          li
            img.img-responsive1(src='img/Publigraff.png', alt='sponsors')
          li
            img.img-responsive1(src='img/contimais.png', alt='sponsors')
          li(style="width:20em")
            img.img-responsive1( src='img/Dora Santa María.JPG', alt='sponsors')
          li
            img.img-responsive1( src='img/guerra.jpg', alt='sponsors') 
          li(style="width:20em")
            img.img-responsive1( src='img/conquistador.jpg', alt='sponsors')                                       

      span.ir-arriba
        img(src='img/btn_arriba2.png')



      section.section.organiza(style="background:white")
        h2.title-org.scrollflow.-pop.-opacity(style='color:#00aad4') ORGANIZA
        .organiza_logos.scrollflow.-pop.-opacity
          .col-md-12
            .col-md-6
              img(src='img/log-esis.png', alt='logo-esis')
              label
            .col-md-6
              img(src='img/logo-unjbg.png', alt='logo-unjbg')
          .col-md-6
              p
                | Escuela Profesional de Ingeniería en Informática y Sistemas
          .col-md-6
              p
                | Universidad Nacional Jorge Basadre Grohmann
          .col-md-12
            p Ciudad Universitaria: Sede los Granados - Avenida Miraflores S/N - Tacna
            p Teléfono: (052) 583000 anexo 2005
            p Celulares: 988 899988 - 977 465783
            p E-mail: ciistacna@unjbg.edu.pe
      section.section#map
      #modalb.modal-ponente
        .info-ponente
          .header-ponente
            #modalc.close-ponente
              p X
            .titulo-ponente
              h1 Programación para dispositivos móviles: Android
              p
                | -48 Horas
                br
                | (24 horas academicas presenciales)
                | (24 horas academicas virtuales)
              .img-ponente()
                img.img-1(src='img/cursos/android.png' width="80%" height="auto")
          span.content-ponente(style="margin-top: -8px")
            ul
              li: h4 Temario
              li: | - Entorno de desarrollo (Android Studio)
              li: | - Estructura de un proyecto.
              li: | - Componentes de una aplicación.
              li: | - Desarrollando una aplicación sencilla
              li: | - Diseño de Interfaz mediante XML y Código
              li: | - Layouts
              li: | - Controles básicos (I): Botones, Texto, Inputs, Imágenes.
              li: | - Controles básicos (II): Checkbox, Radiobutton, ToggleButton, Seekbar
              li: | - Controles de selección: Listas desplegables, Listas, Tablas, CardView
              li: | - Material Design
              li: | - Actionbar / Appbar / Toolbar: Actionbar básica
              li: | - Animaciones básicas: CoordinatorLayout
      #modalbb.modal-ponente
        .info-ponente
          .header-ponente
            #modalcc.close-ponente
              p X
            .titulo-ponente
              h1 Taller de Arduino Deluxe
              p
                | -48 Horas
                br
                | (24 horas academicas presenciales)
                | (24 horas academicas virtuales)
              .img-ponente
                img.img-1(src='img/cursos/arduinodeluxe.jpg' width="80%" height="auto")
          span.content-ponente
            ul
              li: h4 Temario
              li: | -Electrónica básica
              li: | -Introducción a ARDUINO.
              li: | -Descripción de software.
              li: | -Entradas y salidas digitales.
              li: | -Temporizadores.
              li: | -Sentencias IF, ELSE, ELSE IF.
              li: | -Sentencias FOR, CASE.
              li: | -Entradas y salidas análogas.
              li: | -PWM.
              li: | -Sensor de temperatura LM35.
              li: | -Sensor de temperatura y humedad DHT11.
              li: | -Pantallas LCD y gráficas con Arduino.
              li: | -Proyectos varios con sensores y pulsadores

      #modalbbb.modal-ponente
        .info-ponente
          .header-ponente
            #modalccc.close-ponente
              p X
            .titulo-ponente
              h1  Autocad 2D-3D, e impresión 3D
              p
                | -48 Horas
                br
                | (24 horas academicas presenciales)
                | (24 horas academicas virtuales)
              .img-ponente
                img.img-1(src='img/cursos/autocad.jpg' width="80%" height="auto")
          span.content-ponente
            ul
              li: h4 Temario
              li: | -Diseño 2D
              li: | -Entidades de dibujo básicas, lineales y circulares
              li: | -Edición de objetos
              li: | -Referencias a objetos
              li: | -Métodos de selección de entidades
              li: | -Duplicación de objetos repetitivos: individual, estructurada, radial, matricial, reflejada y paralela
              li: | -Control de las propiedades de los objetos. 
              li: | -Organización de proyectos por capas.
              li: | -Anotaciones, escritura y textos. Configurar estilos de texto
              li: | -Datos asociados a elementos. Definir, insertar y editar bloques con atributos
              li: | -Acotación - Colocación de cotas lineales, alineadas, angulares, radiales, secuenciales y asociadas
              li: | -Cálculo de áreas
              li: | -Introducción a 3D
              li: | -Dibujos Isométricos 2D
              li: | -Visualización tridimensional
              li: | -Perspectiva paralela y perspectiva cónica
              li: | -Transformación de objetos 2D en 3D. Elevación de paredes
              li: | -Modificadores de 2D en 3D
              li: | -Sólidos vs. Mallas
              li: | -Sólidos primitivos: prisma, cuña, esfera, cilindro, cono, pirámide
              li: | -Sólidos proyectados: extrusión, solevado, rotación
              li: | -Sólidos de combinación. Operaciones Booleanas
              li: | -Superficies
              li: | -Modelado en 3D
              li: | -Edición de sólidos y Herramientas de moldeado de superficies
              li: | -Cortes y secciones
              li: | -Impresión modelado 3D
              li: | -Visualización fotorrealista: Render
              li: | -Iluminación: sombras, iluminación solar, iluminación artificial.
              li: | -Materiales: texturas, mapeados, acabados.

      #modalbbbb.modal-ponente
        .info-ponente
          .header-ponente
            #modalcccc.close-ponente
              p X
            .titulo-ponente
              h1  Diseño gráfico publicitario: Corel Draw - Photoshop
              p
                | -48 Horas
                br
                | (24 horas academicas presenciales)
                | (24 horas academicas virtuales)
            .img-ponente
                img.img-1(src='img/cursos/coreldraw.jpg' width="80%" height="auto")
            span.content-ponente
              ul
                li: h4  Temario
                li: | -Introducción a CorelDRAW
                li: | -Operaciones básicas
                li: | -Crear objetos
                li: | -Trabajar con objetos
                li: | -Aplicar Rellenos
                li: | -Aplicar color de borde, grosor y estilo
                li: | -Organizar objetos
                li: | -Soldar, Intersectar, Recortar
                li: | -Transformar objetos
                li: | -Dibujar libremente
                li: | -Dibujar a partir de nodos
                li: | -Efectos varios con imágenes
                li: | -Trabajar con textos 
                li: | -Ajuste del brillo el contraste y saturación
                li: | -Recortar un mapa de bits
                li: | -Efectos        
                li: | -Impresión

      #modalbbbbb.modal-ponente
        .info-ponente
          .header-ponente
            #modalccccc.close-ponente
              p X
            .titulo-ponente
              h1  Edición de audio y video y Captura de imágenes aéreas con Drones DJI
              p
                | -48 Horas
                br
                | (24 horas academicas presenciales)
                | (24 horas academicas virtuales)
              .img-ponente
                img.img-1(src='img/cursos/drones.jpg' width="80%" height="auto")
          span.content-ponente
            ul
              li: h4  Temario
              li: |-Requisitos del sistema
              li: |-Conocimiento de la interfaz de Sony Vegas Pro
              li: |-Conversión de formatos con el programa Total Convert
              li: |-Creación de un nuevo proyecto
              li: |-Importar video y audio
              li: |-Importar gráficos
              li: |-Canales (audio y video)
              li: |-Transiciones (Tipos de Transición (audio y video))
              li: |-Texto
              li: |-Funcionalidad de los botones de medios de proyecto
              li: |-Creando contenedores (carpetas) para organizar archivos de proyecto
              li: |-Ventana recortadora (uso de teclas de atajo)
              li: |-Uso de marcadores
              li: |-Corte y edición de videos
              li: |-Uso de efectos
              li: |-Opciones de zoom
              li: |-Controles de reproducción
              li: |-Edición de pistas (corte y edición)
              li: |-Ajuste de tamaño
              li: |-Crear, insertar, eliminar y duplicar pistas
              li: |-Controles de pistas
              li: |-Herramientas de edición
              li: |-Transiciones
              li: |-Eliminar y formas de encadenado de transición
              li: |-Efectos (deshabilitar y eliminar)
              li: |-Panoramización: uso de herramientas
              li: |-Recorte de evento, uso de máscara
              li: |-Aplicación de curvas y suavizado
              li: |-Generadores de medios sólidos
              li: |-Sólidos, configuración
              li: |-Transparencia en sólidos y colores gradientes
              li: |-Medios de texto, configuración
              li: |-Movimientos de pistas en 2D
              li: |-Movimientos de pistas en 3D
              li: |-Audio, funciones de la pista de sonido
              li: |-Audio, grabación en una pista de sonido
              li: |-Renderización de proyectos.
              li: |-Operación de drones
              li: |-Captura de imágenes aéreas con drones
              li: |-Edición y composición de imágenes capturada por drones.
              li: |-Aplicaciones avanzadas con drones
      #modalbbbbbb.modal-ponente
        .info-ponente
          .header-ponente
            #modalcccccc.close-ponente
              p X
            .titulo-ponente
              h1  Taller de Robótica con Legos Mindstorms NXT 2.0 y EV3
              p
                | -48 Horas
                br
                | (24 horas academicas presenciales)
                | (24 horas academicas virtuales)
              .img-ponente
                img.img-1(src='img/cursos/legosminds.jpg' width="80%" height="auto")
          span.content-ponente
            ul
              li: h4 Temario
              li: | -Introducción a la robótica educativa
              li: | -Conceptos generales
              li: | -Robótica con LEGO Mindstorms NXT 2.0
              li: | -Descripción del Software NXT G
              li: | -Hub, motores y sensores
              li: | -Secuencias de programación
              li: | -Práctica de motores
              li: | -Práctica de sensores
              li: | -Actividad Final
            | Ingeniero de Sistemas con ocho años de experiencia en área de tecnologías de información, especializado en infraestructura tecnológica, gestión de servicios de TI y administración de Seguridad de Información. Experiencia en consultoría y administración de seguridad de información y Seguridad Informática, desarrollando tareas de implementación de sistemas de Gestión de Seguridad de Información (SGSI), Gestión de Riesgos de Infraestructura Tecnológicas (ISO 27005), evaluación de controles de Seguridad de Información (ISO27001 – ISO 27002) y realizando evaluaciones y análisis de seguridad de TI realizando servicios de Ethical Hacking. Además, es Instructor Oficial de la organización internacional MILE2 e instructor de Ethical Hacking en la Universidad Nacional de Ingeniería (UNI).      
      #modalbbbbbbb.modal-ponente
        .info-ponente
          .header-ponente
            #modalccccccc.close-ponente
              p X
            .titulo-ponente
              h1  Manejo de software de oficina (Word, Excel, PowerPoint, Publisher)
              p
                | -48 Horas
                br
                | (24 horas academicas presenciales)
                | (24 horas academicas virtuales)
              .img-ponente
                img.img-1(src='img/cursos/office.png' width="80%" height="auto")
          span.content-ponente
            ul
              li: h4 Temario
              li: | Uso del procesador de texto Word
                ul 
                  li: |   - Manipular y usar los elementos de Word.
                  li: |   - Manipular el área de trabajo de Word.
                  li: |   - Vistas de documento.
                  li: |   - Configurar página.
                  li: |   - Guardar y abrir un documento
                  li: |   - Digitación y corrección de texto.
                  li: |   - Formatos.
                  li: |   - Vista preliminar
                  li: |   - Imprimir
              li: | Uso de Hoja de Cálculo Excel  
                ul 
                  li: |   - Ingreso y manipulación de datos
                  li: |   - Formato de filas y columnas
                  li: |   - Manejo de hoja de cálculo
                  li: |   - Cortar, copiar, pegar y pegado especial
                  li: |   - Crear fórmulas y funciones a través de cálculos matemáticos
                  li: |   - Tipos de referencia
                  li: |   - Aplicar formatos para mejorar la presentación de los datos
                  li: |   - Configurar página e imprimir
              li: |  Uso de PowerPoint
                ul
                  li: |   - Elementos de la ventana PowerPoint 
                  li: |   - uso de diseño de diapositivas  
                  li: |   - Agregar/eliminar diapositiva  
                  li: |   - Formateo de presentación  
                  li: |   - Animacion y transicion   
      #modalbbbbbbbb.modal-ponente
        .info-ponente
          .header-ponente
            #modalcccccccc.close-ponente
              p X
            .titulo-ponente
              h1  Producción de recursos multimedia para educación: PREZI y EMAZE.
              p
                | -48 Horas
                br
                | (24 horas academicas presenciales)
                | (24 horas academicas virtuales)
              .img-ponente
                img.img-1(src='img/cursos/prezi.png' width="80%" height="auto")
          span.content-ponente
            ul
              li: h4 Temario
              li: | - Primeros pasos con PREZI
              li: | - La interfaz de PREZI
              li: | - Organización y zoom
              li: | - Rotación y alineación de elementos
              li: | - Añadir objetos a mi colección
              li: | - Agrupación de elementos
              li: | - Añadir contenidos básicos
              li: | - Inserción y animación de elementos
              li: | - Crear una presentación de PREZI desde cero
              li: | - Inicializando EMAZE
              li: | - Inserción y animación de elementos
              li: | - Crear una presentación avanzada con EMAZE
      #modalbbbbbbbbb.modal-ponente
        .info-ponente
          .header-ponente
            #modalccccccccc.close-ponente
              p X
            .titulo-ponente
              h1  Taller de Raspberry Pi 3
              p
                | -48 Horas
                br
                | (24 horas academicas presenciales)
                | (24 horas academicas virtuales)
              .img-ponente
                img.img-1(src='img/cursos/raspberry.jpg' width="80%" height="auto")
          span.content-ponente
            ul
              li: h4 Temario
              li: | - Tipos de Hardware Raspberry 
              li: | - Selecion e instalanción de un sistema operativo
              li: | - Instalando Linux Raspbian para ISO
              li: | - Instalando Linux Raspbian para NOOBS
              li: | - Configuraciones iniciales
              li: | - Administracion de redes alámbricas e inhalámbricas (Wi-Fi)
              li: | - Usando el terminal de linux
              li: | - Conexiones remotas con SSH y VNC
              li: | - API de Raspberry Pi
              li: | - Accesorios de Raspberry Pi
              li: | - Principales programas soportados
              li: | - Comandos Básicos
              li: | - Tranformando Rasberry Pi con un servidor Web
              li: | - Instalando un LAMP Stack
              li: | - Instalando un servidor MySQL
              li: | - Instalando un servidor Apache2
              li: | - Instalando y configurando un WorldPress
              li: | - Usando Raspberry con Windows 10
              li: | - Creando un Servidor FTP
      #modalbbbbbbbbbb.modal-ponente
        .info-ponente
          .header-ponente
            #modalcccccccccc.close-ponente
              p X
            .titulo-ponente
              h1  Realidad virtual con UNITY utilizando cascos Samsung Gear VR y VR Box . 
              p
                | -48 Horas
                br
                | (24 horas academicas presenciales)
                | (24 horas academicas virtuales)
              .img-ponente
                img.img-1(src='img/cursos/virtualreality.jpg' width="80%" height="auto")
          span.content-ponente
            ul
              li: h4 Temario
              li: | - Iniciar en Unity y explorar los recursos del desarrollador.
              li: | - Su escena de la primera habitación Escala VR
              li: | - Construye y ejecuta una escena simple para Oculus Samsung Gear VR
              li: | - Interacción Visual
              li: | - Comenzando tu primer juego VR
              li: | - Interactuando con objetos usando los controladores de movimiento
