#btnFotoCheckModal.modal.fade(role='dialog')
  .modal-dialog.modal-lg
    // Modal content
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h4.modal-title Código QR
      .modal-body
      
          .row
            #codeqr(width="200" height="200")
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
