#resume_usuarioModal.modal.fade(role='dialog')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title Resumen Usuario
        button#closeResume.close(type='button', data-dismiss='modal') ×
      .modal-body
        .row
            .col-md-6
                .form-group
                    label(for='pwd') Estudiantes:
                    input#student.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') Profesional y público en general:
                    input#profesional.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') Total  usuarios:
                    input#total_user.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') Total en delegaciones :
                    input#total_delegation.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') ESIS-Estudiante:
                    input#esis_e.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') ESIS-Profesional:
                    input#esis_p.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') Puno-Estudiante:
                    input#puno_e.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') Puno-Profesional:
                    input#puno_p.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') Ayacucho-Estudiante:
                    input#ayacucho_e.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') Ayacucho-Profesional:
                    input#ayacucho_p.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') UAP-Estudiante:
                    input#uap_e.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') UAP-Profesional:
                    input#uap_p.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') UPT-Estudiante:
                    input#upt_e.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') UPT-Profesional:
                    input#upt_p.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') UNAM-Estudiante:
                    input#unam_e.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') UNAM-Estudiante:
                    input#unam_p.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') ILO-Estudiante:
                    input#ilo_e.form-control(type='',disabled)
            .col-md-6
                .form-group
                    label(for='pwd') ILO-Estudiante:
                    input#ilo_p.form-control(type='',disabled)
            
                      
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        
